<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tienda de Jared</title>
</head>
<body>
    <header>
        <h1>iFrames</h1>
    </header>
    <aside>
        <h1>iFrames</h1>
        <p>Uso de iFrames en el sitio web</p>
    </aside>
    <section>
        <h2>iFrames</h2>
        <article>
            <h3>Sitio Web Interno</h3>
            <iframe src="http://ufidelitas.ac.cr/" width="1200" height="400" title="Iframe Example">
            </iframe>
        </article>
        <article>
            <h3>YouTube</h3>
            <iframe src="https://www.youtube.com/embed/yScNIsLTLYA" width="560" height="315" title="🏊POCOYÓ en ESPAÑOL - Juega y Bucea en la Piscina [121 min] CARICATURAS y DIBUJOS ANIMADOS para niños" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </article>
        <article>
            <h3>Ubicanos</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15721.866427309951!2d-84.01718178386191!3d9.895039866212207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2scr!4v1758845526889!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </article>
    </section>
    <footer>
        <p>Derechos reservados 2025 &COPY;</p>
    </footer>
</body>
</html>