<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tienda de Jared</title>
</head>
<body>
    <header>
        <h1>Multimedia</h1>
    </header>
    <aside>
        <h1>Multimedia</h1>
        <p>Incorporacion de recursos multimedia en el sitio web</p>
    </aside>
    <section>
        <h2>Uso de multimedia</h2>
        <article>
            <h3>Musica Celta</h3>
            <audio controls>
                <source src="/audio/musica_celta.mp3" type="audio/mpeg">
                Your browser does not support the <code>audio</code> tag.
        </article>
        <article>
            <h3>Pelicula de accion</h3>
            <video width="320" height="240" controls>
                <source src="/video/torpedo.mp4" type="video/mp4">
                Your browser does not support the <code>video</code> tag.
            </video>
        </article>
    </section>
    <footer>
        <p>Derechos reservados 2025 &COPY;</p>
</body>
</html>